## Datetime 和 Pandas中datetime中的操作
首先是Python生成库中datetime的分类
然后是Pandas中对应datetime的常见的操作

## 0x01 Datetime模块
这个相当于一个类class，来帮助我们处理时间类型格式的数据。需要实现的功能有两种
1. 是否可以支持日期的数学运算
2. 是否可以更有效的解析其属性用于格式化输出和数据操作

一些相关模块
1. calendar 通用日历相关函数
2. time 提供时间的访问和转换
3. zoneinfo 代表IANA时区数据库的具体时区
4. dateutil包 提供时区拓展和解析

一些属性：
常量包括：datetime.MINYEAR,datetime.MAXYEAR,datetime.UTC
类型
1. date 理想化的简单日期:年-月-日
2. time 独立于任何特定日期的理想化时间，小时-分钟-秒-tzinfo
3. datetime 日期和时间的集合
4. timedelta 表示两个date或者time对象
5. tzinfo 描述时区信息对象的抽象基类
6. timezone 想对于世界标准时间的偏移量

In [27]:
import datetime
import time
from datetime import date
today = date.today()
today == date.fromtimestamp(time.time())

myBirthday = date(today.year,6,24)
myBirthday - today
myBirthday.day

# 由其他格式生成datetime
d = date.fromordinal(730920)# 距离1.1.0001多少天
d.isoformat() # 转换成为对应的标准 iso 格式
d.strftime("%d/%m/%y")
dateTuple = d.timetuple()
for t in dateTuple:
    print(t) 
isoCalendar = d.isocalendar()
for i in isoCalendar:
    print(i)

d.replace(year = 2009)

2002
3
11
0
0
0
0
70
-1
2002
11
1

datetime.date(2009, 3, 11)

## 0x02 Time 模块
time对象代表某日的本地时间，独立于任何特定的时期，可以通过tzinfo对象进行调整
1. hour
2. mintue
3. second
4. microsecond
5. tzinfo
6. fold 范围0～1，用于在重复的时间段内消除边界时间歧义。当下夏令时结束回拨时钟或者由于政治原因导致当前时区的UTC时差减少而出现重复的时间段

In [39]:
from datetime import time
d=time(12,3,4)
d.isoformat()
d.strftime("%H")

'12'

## 0x03 时间格式转换的问题
在date或者time的处理中，往往需要遇到的问题是如何从 string 转换成为一个标准的 date or time 格式的文件，或者讲date time转换成为string，这里常见的格式有 isoformat，但并不是所有的时间格式都是这样子。因此我们需要将其转换成为对应的格式可以使用
1.  strftime() 由指定字符串来创建datetime对象
2. strpfitme() 根据一个表示时间的字符串和对应的格式字符串来创建一个datetime独享

其中对应的常见的格式包括：
1. %a 周几的缩写
2. %A 周几的全程
3. %w
等等
https://docs.python.org/zh-cn/3.7/library/datetime.html?highlight=isoformat#strftime-and-strptime-behavior

## 0x03 Pandas中如何操作datetime

In [51]:
import pandas as pd
apple =pd.read_csv('../data/appl_1980_2014.csv')
apple.Date

0       2014-07-08
1       2014-07-07
2       2014-07-03
3       2014-07-02
4       2014-07-01
           ...
8460    1980-12-18
8461    1980-12-17
8462    1980-12-16
8463    1980-12-15
8464    1980-12-12
Name: Date, Length: 8465, dtype: object

In [55]:
apple.Date =  pd.to_datetime(apple.Date)
apple.insert(0,'Se',apple.Date.dt.month)

   Se  Month       Date   Open   High    Low  Close    Volume  Adj Close
0   7      7 2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1   7      7 2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2   7      7 2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3   7      7 2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4   7      7 2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

In [61]:
apple.groupby('Month').agg('mean')

,Se,Date,Open,High,Low,Close,Volume,Adj Close
Month,,,,,,,,
1,1.0,1997-05-17 11:03:49.787233920,98.109844,99.429078,96.579475,97.962794,1.268551e+08,10.636184
2,2.0,1997-08-17 09:18:46.380368128,99.669540,101.019893,98.431304,99.773129,9.596022e+07,10.813834
3,3.0,1997-08-27 05:01:56.129032320,101.117124,102.386989,99.854919,101.172312,9.174231e+07,11.077433
4,4.0,1997-10-22 16:37:33.200568960,104.741778,106.132376,103.221835,104.693883,9.760923e+07,11.609075
5,5.0,1997-11-27 04:06:41.114206080,108.536560,109.885780,107.056643,108.518287,8.511012e+07,12.087298
6,6.0,1997-11-28 15:50:45.392021888,94.276204,95.334415,92.914787,94.069243,8.477505e+07,12.002682
7,7.0,1997-08-25 08:34:08.364153728,90.703215,91.912859,89.478563,90.778393,8.920390e+07,10.623940
8,8.0,1997-09-02 09:43:53.424657536,95.883890,97.114877,94.729890,95.978658,8.068310e+07,10.716151
9,9.0,1997-09-02 20:29:03.497757824,97.375605,98.579671,96.017309,97.231046,9.131594e+07,10.856622
10,10.0,1997-10-09 19:29:00.659340544,96.066951,97.402376,94.478242,95.965783,1.104028e+08,10.817390
11,11.0,1997-11-17 01:44:31.999999872,98.606341,99.842133,97.165511,98.504652,8.938393e+07,11.009111
12,12.0,1997-08-13 18:50:07.594936704,98.049283,99.160014,96.803938,97.951786,8.431019e+07,10.832672